In [2]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.1.3     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
url="https://cssbook.net/d/private_capital.csv"
private = read_csv(url)
tail(private)

── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
cols(
  Year = col_double(),
  U.S. = col_double(),
  Japan = col_double(),
  Germany = col_double(),
  France = col_double(),
  U.K. = col_double(),
  Italy = col_double(),
  Canada = col_double(),
  Australia = col_double(),
  Spain = col_double()
)

  Year U.S. Japan Germany France U.K. Italy Canada Australia Spain
1 2005 4.70 5.74  3.84    5.00   4.99 6.24  3.73   5.22      7.24
2 2006 4.88 5.83  3.78    5.34   5.19 6.37  3.88   5.32      7.69
3 2007 4.94 5.79  3.79    5.53   5.23 6.42  4.02   5.55      7.92
4 2008 4.36 5.87  3.90    5.53   4.91 6.61  3.83   5.44      7.86
5 2009 4.06 6.19  4.15    5.63   5.04 6.91  4.13   5.04      7.89
6 2010 4.10 6.01  4.12    5.75   5.22 6.76  4.16   5.18      7.55

In [3]:
url = "https://cssbook.net/d/public_capital.csv"
public = read_csv(url)
tail(public)

── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
cols(
  Year = col_double(),
  U.S. = col_double(),
  Japan = col_double(),
  Germany = col_double(),
  France = col_double(),
  U.K. = col_double(),
  Italy = col_double(),
  Canada = col_double(),
  Australia = col_double(),
  Spain = col_double()
)

  Year U.S. Japan Germany France U.K. Italy Canada Australia Spain
1 2005 0.48 0.34  0.04    0.28   0.32 -0.56 -0.16  0.67      0.13
2 2006 0.51 0.36  0.02    0.37   0.32 -0.54 -0.10  0.69      0.20
3 2007 0.54 0.38  0.06    0.46   0.32 -0.52 -0.03  0.69      0.26
4 2008 0.49 0.34  0.08    0.43   0.28 -0.52  0.00  0.71      0.25
5 2009 0.36 0.24  0.07    0.35   0.19 -0.65 -0.02  0.71      0.14
6 2010 0.21 0.14  0.04    0.31   0.06 -0.68 -0.04  0.67      0.05

In [4]:
private_fr = private %>% 
    select(Year, fr_private=France)
public_fr = public %>% 
    select(Year, fr_public=France)
capital_fr = full_join(private_fr, public_fr)
# Data for Figure 3.6 (Piketty, 2014, p 128)
head(capital_fr)

Joining, by = "Year"

  Year fr_private fr_public
1 1970 3.10       0.41
2 1971 3.04       0.43
3 1972 3.07       0.45
4 1973 3.05       0.46
5 1974 3.03       0.48
6 1975 3.17       0.53

In [5]:
# Are private and public capital correlated?
cor.test(capital_fr$fr_private, 
         capital_fr$fr_public)

	Pearson's product-moment correlation

data:  capital_fr$fr_private and capital_fr$fr_public
t = -2.1204, df = 39, p-value = 0.04039
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 -0.57252488 -0.01537337
sample estimates:
       cor
-0.3215032

In [17]:
r="https://cssbook.net/d/2016_primary_results.csv"
results = read_csv(r) 
head(results)

── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
cols(
  state = col_character(),
  state_abbrev = col_character(),
  county = col_character(),
  fips = col_double(),
  party = col_character(),
  candidate = col_character(),
  votes = col_double(),
  fraction_votes = col_double()
)

  state   state_abbrev county  fips party    candidate       votes
1 Alabama AL           Autauga 1001 Democrat Bernie Sanders   544
2 Alabama AL           Autauga 1001 Democrat Hillary Clinton 2387
3 Alabama AL           Baldwin 1003 Democrat Bernie Sanders  2694
4 Alabama AL           Baldwin 1003 Democrat Hillary Clinton 5290
5 Alabama AL           Barbour 1005 Democrat Bernie Sanders   222
6 Alabama AL           Barbour 1005 Democrat Hillary Clinton 2567
  fraction_votes
1 0.182
2 0.800
3 0.329
4 0.647
5 0.078
6 0.906

In [24]:
results %>% mutate(candidate=str_replace_all(candidate, " ", "~")) %>% select(-state_abbrev) %>% head()

  state   county  fips party    candidate       votes fraction_votes
1 Alabama Autauga 1001 Democrat Bernie~Sanders   544  0.182
2 Alabama Autauga 1001 Democrat Hillary~Clinton 2387  0.800
3 Alabama Baldwin 1003 Democrat Bernie~Sanders  2694  0.329
4 Alabama Baldwin 1003 Democrat Hillary~Clinton 5290  0.647
5 Alabama Barbour 1005 Democrat Bernie~Sanders   222  0.078
6 Alabama Barbour 1005 Democrat Hillary~Clinton 2567  0.906

In [4]:
c="https://cssbook.net/d/2016_primary_county.csv"
counties = read_csv(c)
head(counties)

── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
cols(
  .default = col_double(),
  area_name = col_character(),
  state_abbreviation = col_character()
)
ℹ Use `spec()` for the full column specifications.

  fips area_name      state_abbreviation Pop_2014_count Pop_2010_base_count
1    0 United States  NA                 318857056      308758105
2 1000 Alabama        NA                   4849377        4780127
3 1001 Autauga County AL                     55395          54571
4 1003 Baldwin County AL                    200111         182265
5 1005 Barbour County AL                     26887          27457
6 1007 Bibb County    AL                     22506          22919
  Pop_change_pct Pop_2010_count Age_under_5_pct Age_under_18_pct
1  3.3           308745538      6.2             23.1
2  1.4             4779736      6.1             22.8
3  1.5               54571      6.0             25.2
4  9.8              182265      5.6             22.2
5 -2.1               27457      5.7             21.2
6 -1.8               22915      5.3             21.0
  Age_over_65_pct ⋯ Business_hispanic_owned_pct Business_female_owned_pct
1 14.5            ⋯ 8.3                         28.8
2 15.3            ⋯ 1.2                         28.1
3 13.8            ⋯ 0.7                         31.7
4 18.7            ⋯ 1.3                         27.3
5 16.5            ⋯ 0.0                         27.0
6 14.8            ⋯ 0.0                          0.0
  Revenue_manufacture Revenue_wholesaler Revenue_retail
1 5319456312          4174286516         3917663456
2  112858843            52252752           57344851
3          0                   0             598175
4    1410273                   0            2966489
5          0                   0             188337
6          0                   0             124707
  Revenue_retail_per_capita Revenue_food_and_hospitality Building_permits
1 12990                     613795732                    1046363
2 12364                       6426342                      13369
3 12003                         88157                        131
4 17166                        436955                       1384
5  6334                             0                          8
6  5804                         10757                         19
  Land_area  Pop_density
1 3531905.43  87.4
2   50645.33  94.4
3     594.44  91.8
4    1589.78 114.6
5     884.88  31.0
6     622.58  36.8

In [21]:
counties %>% select(fips, area_name, Poselect(-state_abbrev) %>%p_2014_count, Age_over_65_pct, Race_black_pct) %>% head()

  fips area_name      Pop_2014_count Age_over_65_pct Race_black_pct
1    0 United States  318857056      14.5            13.2
2 1000 Alabama          4849377      15.3            26.7
3 1001 Autauga County     55395      13.8            18.7
4 1003 Baldwin County    200111      18.7             9.6
5 1005 Barbour County     26887      16.5            47.6
6 1007 Bibb County        22506      14.8            22.1

In [7]:
c = counties %>% 
  select("fips", "area_name", "Race_black_pct")
r = results %>% 
  filter(candidate == "Hillary Clinton") %>% 
  select(fips, votes, fraction_votes)
r = inner_join(r, c)
cor.test(r$Race_black_pct, r$fraction_votes)

Joining, by = "fips"

	Pearson's product-moment correlation

data:  r$Race_black_pct and r$fraction_votes
t = 50.944, df = 2806, p-value < 2.2e-16
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 0.6734586 0.7119165
sample estimates:
      cor
0.6931806