In [2]:
library(tidyverse)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.1.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [12]:
private = read_csv("http://cssbook.net/d/private_capital.csv")
public = read_csv("http://cssbook.net/d/public_capital.csv")
tail(private)

Parsed with column specification:
cols(
  Year = col_double(),
  U.S. = col_double(),
  Japan = col_double(),
  Germany = col_double(),
  France = col_double(),
  U.K. = col_double(),
  Italy = col_double(),
  Canada = col_double(),
  Australia = col_double(),
  Spain = col_double()
)
Parsed with column specification:
cols(
  Year = col_double(),
  U.S. = col_double(),
  Japan = col_double(),
  Germany = col_double(),
  France = col_double(),
  U.K. = col_double(),
  Italy = col_double(),
  Canada = col_double(),
  Australia = col_double(),
  Spain = col_double()
)

  Year U.S. Japan Germany France U.K. Italy Canada Australia Spain
1 2005 4.70 5.74  3.84    5.00   4.99 6.24  3.73   5.22      7.24
2 2006 4.88 5.83  3.78    5.34   5.19 6.37  3.88   5.32      7.69
3 2007 4.94 5.79  3.79    5.53   5.23 6.42  4.02   5.55      7.92
4 2008 4.36 5.87  3.90    5.53   4.91 6.61  3.83   5.44      7.86
5 2009 4.06 6.19  4.15    5.63   5.04 6.91  4.13   5.04      7.89
6 2010 4.10 6.01  4.12    5.75   5.22 6.76  4.16   5.18      7.55

In [18]:
private_fr = private %>% select(Year, fr_private=France)
public_fr = public %>% select(Year, fr_public=France)
capital_fr = full_join(private_fr, public_fr, by="Year")
# Can also omit the by, as it is the only shared column
capital_fr = full_join(private_fr, public_fr)
# Are private and public capital correlated (output not shown?)
cor.test(capital_fr$fr_private, capital_fr$fr_public)

# Data for Figure 3.6 (Piketty, 2014, p 128)
#head(capital_fr)
# TODO: Allow selecting which output as tag

Joining, by = "Year"

	Pearson's product-moment correlation

data:  capital_fr$fr_private and capital_fr$fr_public
t = -2.1204, df = 39, p-value = 0.04039
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 -0.57252488 -0.01537337
sample estimates:
       cor
-0.3215032