In [2]:
import pandas as pd

In [16]:
private = pd.read_csv("http://cssbook.net/d/private_capital.csv")
public = pd.read_csv("http://cssbook.net/d/public_capital.csv")
public.tail()

    Year  U.S.  Japan  Germany  France  U.K.  Italy  Canada  Australia  Spain
36  2006  0.51   0.36     0.02    0.37  0.32  -0.54   -0.10       0.69   0.20
37  2007  0.54   0.38     0.06    0.46  0.32  -0.52   -0.03       0.69   0.26
38  2008  0.49   0.34     0.08    0.43  0.28  -0.52    0.00       0.71   0.25
39  2009  0.36   0.24     0.07    0.35  0.19  -0.65   -0.02       0.71   0.14
40  2010  0.21   0.14     0.04    0.31  0.06  -0.68   -0.04       0.67   0.05

In [21]:
private_fr = private[['Year', 'France']].rename(columns={'France':'fr_private'})
public_fr = public[['Year', 'France']].rename(columns={'France':'fr_public'})
capital_fr = pd.merge(private_fr, public_fr)
# Are private and public capital correlated (output not shown?)
#import scipy.stats
#scipy.stats.pearsonr(capital_fr.fr_private, capital_fr.fr_public)
# Data for Figure 3.6 (Piketty, 2014, p 128)
capital_fr.head()

   Year  fr_private  fr_public
0  1970        3.10       0.41
1  1971        3.04       0.43
2  1972        3.07       0.45
3  1973        3.05       0.46
4  1974        3.03       0.48