In [4]:
import pandas as pd

In [16]:
private = pd.read_csv("http://cssbook.net/d/private_capital.csv")
public = pd.read_csv("http://cssbook.net/d/public_capital.csv")
public.tail()

    Year  U.S.  Japan  Germany  France  U.K.  Italy  Canada  Australia  Spain
36  2006  0.51   0.36     0.02    0.37  0.32  -0.54   -0.10       0.69   0.20
37  2007  0.54   0.38     0.06    0.46  0.32  -0.52   -0.03       0.69   0.26
38  2008  0.49   0.34     0.08    0.43  0.28  -0.52    0.00       0.71   0.25
39  2009  0.36   0.24     0.07    0.35  0.19  -0.65   -0.02       0.71   0.14
40  2010  0.21   0.14     0.04    0.31  0.06  -0.68   -0.04       0.67   0.05

In [21]:
private_fr = private[['Year', 'France']].rename(columns={'France':'fr_private'})
public_fr = public[['Year', 'France']].rename(columns={'France':'fr_public'})
capital_fr = pd.merge(private_fr, public_fr)
# Are private and public capital correlated (output not shown?)
#import scipy.stats
#scipy.stats.pearsonr(capital_fr.fr_private, capital_fr.fr_public)
# Data for Figure 3.6 (Piketty, 2014, p 128)
capital_fr.head()

   Year  fr_private  fr_public
0  1970        3.10       0.41
1  1971        3.04       0.43
2  1972        3.07       0.45
3  1973        3.05       0.46
4  1974        3.03       0.48

In [5]:
results = pd.read_csv("http://cssbook.net/d/2016_primary_results.csv")
counties = pd.read_csv("http://cssbook.net/d/2016_primary_counties.csv")
counties.head()

,fips,area_name,state_abbreviation,Pop_2014_count,Pop_2010_base_count,Pop_change_pct,Pop_2010_count,Age_under_5_pct,Age_under_18_pct,Age_over_65_pct,...,Business_hispanic_owned_pct,Business_female_owned_pct,Revenue_manufacture,Revenue_wholesaler,Revenue_retail,Revenue_retail_per_capita,Revenue_food_and_hospitality,Building_permits,Land_area,Pop_density
0,0,United States,NaN,318857056,308758105,3.3,308745538,6.2,23.1,14.5,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4
1,1000,Alabama,NaN,4849377,4780127,1.4,4779736,6.1,22.8,15.3,...,1.2,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4
2,1001,Autauga County,AL,55395,54571,1.5,54571,6.0,25.2,13.8,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
3,1003,Baldwin County,AL,200111,182265,9.8,182265,5.6,22.2,18.7,...,1.3,27.3,1410273,0,2966489,17166,436955,1384,1589.78,114.6
4,1005,Barbour County,AL,26887,27457,-2.1,27457,5.7,21.2,16.5,...,0.0,27.0,0,0,188337,6334,0,8,884.88,31.0

In [ ]:
c = counties %>% select("fips", "area_name", "Race_black_pct")
r = results %>% filter(candidate == "Hillary Clinton") %>% select(fips, votes, fraction_votes)
n_before = nrow(r)
table(r$fips %in% c$fips)
r = inner_join(r, c)
cor.test(r$Race_black_pct, r$fraction_votes)

In [16]:
c = counties[["fips", "area_name", "Race_black_pct"]]
r = results.loc[results.candidate == "Hillary Clinton"]
r = r[["fips", "votes", "fraction_votes"]]
r = r.merge(c)
r.head()
#import scipy.stats
#scipy.stats.pearsonr(r.Race_black_pct, r.fraction_votes)

     fips  votes  fraction_votes       area_name  Race_black_pct
0  1001.0   2387           0.800  Autauga County            18.7
1  1003.0   5290           0.647  Baldwin County             9.6
2  1005.0   2567           0.906  Barbour County            47.6
3  1007.0    942           0.755     Bibb County            22.1
4  1009.0    564           0.551   Blount County             1.8