In [1]:
install.packages("Rcmdr", dependencies=TRUE)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘ps’, ‘processx’, ‘clipr’, ‘BH’, ‘purrr’, ‘zip’, ‘DBI’, ‘plyr’, ‘farver’, ‘labeling’, ‘munsell’, ‘lifecycle’, ‘callr’, ‘coda’, ‘forcats’, ‘hms’, ‘readr’, ‘tidyselect’, ‘SparseM’, ‘MatrixModels’, ‘sp’, ‘curl’, ‘openxlsx’, ‘numDeriv’, ‘mitools’, ‘lazyeval’, ‘reshape2’, ‘scales’, ‘viridisLite’, ‘withr’, ‘png’, ‘jpeg’, ‘RColorBrewer’, ‘checkmate’, ‘rstudioapi’, ‘stringi’, ‘rematch’, ‘pkgconfig’, ‘prettyunits’, ‘R6’, ‘httpuv’, ‘xtable’, ‘sourcetools’, ‘later’, ‘promises’, ‘fastmap’, ‘miniUI’, ‘webshot’, ‘arm’, ‘sandwich’, ‘haven’, ‘readstata13’, ‘carData’, ‘pbkrtest’, ‘quantreg’, ‘maptools’, ‘rio’, ‘survey’, ‘estimability’, ‘minqa’, ‘nloptr’, ‘RcppEigen’, ‘Formula’, ‘ggplot2’, ‘latticeExtra’, ‘acepack’, ‘gtable’, ‘gridExtra’, ‘data.table’, ‘htmlTable’, ‘viridis’, ‘highr’, ‘stringr’, ‘yaml’, ‘xfun’, ‘zoo’, ‘mime’, ‘mvtnorm’, ‘TH.data’, ‘cellranger’, ‘tibble’, ‘progress’, ‘htmlwidgets’, ‘shiny’, ‘magrittr’, ‘crosstalk’, ‘manipulateWidget’, ‘tinytex’, ‘matrixcalc’, ‘mi’, ‘RcmdrMisc’, ‘car’, ‘effects’, ‘tcltk2’, ‘abind’, ‘relimp’, ‘lme4’, ‘aplpack’, ‘colorspace’, ‘e1071’, ‘Hmisc’, ‘knitr’, ‘leaps’, ‘lmtest’, ‘markdown’, ‘multcomp’, ‘nortest’, ‘readxl’, ‘rgl’, ‘rmarkdown’, ‘sem’


Warning message in install.packages("Rcmdr", dependencies = TRUE):
“installation of package ‘rgl’ had non-zero exit status”

In [5]:
a = 100
print(class(a))

[1] "numeric"

In [6]:
a = a*2
b = 50
c = a + b
print(a)

[1] 200

In [29]:
d = 20
print(class(d))
# forcing R to treat 20 as an int
d2 = 20L
print(class(d2))

e = as.integer(20.7)
print(class(e))
print(e)

f = TRUE
print(class(f))
print(as.integer(f))
print(as.integer(FALSE))

[1] "numeric"
[1] "integer"
[1] "integer"
[1] 20
[1] "logical"
[1] 1
[1] 0

In [34]:
sometext = "I am happy learning R!"
print(class(sometext))
somebytes= charToRaw(sometext)
print(class(somebytes))

print("'Hi!' said he.")
print('"Hi!" said he.')

[1] "character"
[1] "raw"
[1] "'Hi!' said he."
[1] "\"Hi!\" said he."

In [61]:
scores = c(8, 8, 7, 6, 9, 4, 9, 2, 8, 5)
print(class(scores))
countries = c('Netherlands', 'Germany', 'Spain')
print(class(countries))

scores2 = c(8, 8, 7, 6, 9, 4, 9, 2, 8, 5,  'b')
print(class(scores2))
print(scores2)
print(scores)

[1] "numeric"
[1] "character"
[1] "character"
 [1] "8" "8" "7" "6" "9" "4" "9" "2" "8" "5" "b"
 [1] 8 8 7 6 9 4 9 2 8 5

In [54]:
scores2[11]
scores2[c(1, 10)]
scores2[1:10]

# taking the first 10 elements from scores2 and convert them back into numbers
scores3 = as.numeric(scores[1:10])
class(scores3)
scores3

[1] "b"

[1] "8" "5"

 [1] "8" "8" "7" "6" "9" "4" "9" "2" "8" "5"

[1] "numeric"

 [1] 8 8 7 6 9 4 9 2 8 5

In [57]:
# appending a new value to a vector
scores3 = c(scores3, 7)
# alternative approach
scores3 = append(scores3, 7)

# Of course, we could also store it in a different object instead of overwriting the original vector
scores4 = c(scores3, 7)
# or
scores4 = append(scores3, 7)

# removing an entry from a vector
scores3 = scores3[-11]

# creating a vector containing the values 1,2,3,...20 (or -5, -4, ... 5)
range1 <- 1:20
range2 <- -5:5

# more advanced: 0, 0.2, 0.4, ... 1.0 
my_sequence = seq(0,1, by=0.2)
length(my_sequence)

[1] 6

In [60]:
my_list <- list(33, 'Twitter', sqrt, c(1,2,3,4))
class(my_list)

# You can check this is a list of four elements and you can use any of these elements (even the function to get the square root of 16!) using the indexing:
my_list[[3]](16)

[1] "list"

[1] 4

In [62]:
scores <- c(8, 8, 7, 6, 9, 4, 9, 2, 8, 5)                                                                                 
factor_scores <- factor(scores)                                                                                           
factor_scores_2 <- factor(scores, levels = c(1,2,3,4,5,6,7,8,9,10), labels = c("fail", "fail", "fail", "fail", "fail",
"pass", "pass", "pass", "pass", "pass"))

In [70]:
my_matrix <- matrix( c(0,0,1,1,0,1), nrow = 2, ncol = 3, byrow = TRUE)
print(dim(my_matrix))
print(my_matrix)

my_matrix2 <- matrix( c(0,0,1,1,0,1), nrow = 2, ncol = 3, byrow = FALSE)
print(my_matrix2)

my_matrix3 = my_matrix + my_matrix2
print(my_matrix3)

array3d <- array(c('green', 'yellow', 'red'),dim = c(3,3,3))
dim(array3d)
print(array3d)

[1] 2 3
     [,1] [,2] [,3]
[1,]    0    0    1
[2,]    1    0    1
     [,1] [,2] [,3]
[1,]    0    1    0
[2,]    0    1    1
     [,1] [,2] [,3]
[1,]    0    1    1
[2,]    1    1    2

[1] 3 3 3

, , 1

     [,1]     [,2]     [,3]
[1,] "green"  "green"  "green"
[2,] "yellow" "yellow" "yellow"
[3,] "red"    "red"    "red"

, , 2

     [,1]     [,2]     [,3]
[1,] "green"  "green"  "green"
[2,] "yellow" "yellow" "yellow"
[3,] "red"    "red"    "red"

, , 3

     [,1]     [,2]     [,3]
[1,] "green"  "green"  "green"
[2,] "yellow" "yellow" "yellow"
[3,] "red"    "red"    "red"

In [72]:
authors = data.frame(age = c(38, 36, 39), countries = c('Netherlands', 'Germany', 'Spain'), living_abroad= c(FALSE, TRUE, TRUE))
print(authors)

  age   countries living_abroad
1  38 Netherlands         FALSE
2  36     Germany          TRUE
3  39       Spain          TRUE